<!DOCTYPE html>
<html>
<head>
  <title>We're sorry, but something went wrong (500)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Algo salió mal</h2>
      <div class="text-center crying">
        <%= image_tag("cryingcomputer.gif", alt: "We're sorry") %>
      </div>
    </div>
  </div>
</body>
</html>
