<section class="promo section section-on-bg">
  <div class="container text-center homecontainer">
    <h2 class="title">Gracias por enviarnos tu información estaremos en contacto contigo muy pronto</h2>
    <div class="promohome"><a href="http://www.locomotion.mx/register_demo_codea">Te regalamos una clase demo, haz click aquí para probarla.
  </div><!--//container-->
</section><!--//promo-->
