<nav class="navbar navbar-fixed-top navbar-inverse" id="trasparent_header">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to image_tag("codeacamp_logo.png", :height => 40),
                  "http://www.codea.mx", id: "logo", class: "navbar-brand", target: "_blank" %>
    </div>
  </div>
</nav>
